<html>

<body>
    <h1>
        Package name:
        <%= data.name %>
    </h1>
    <form action="/save" method="POST"></form>
    <p>
        <a href="/packs">NPM packages in database</a>
    </p>
    <table border="1" cellpadding="7" cellspacing="7">
        <tr>
            <th>Version</th>
            <th>Description</th>
            <th>_id</th>
            <th>Homepage</th>
            <th>Add to db</th>
        </tr>
        <tr>
            <td>
                <%=data.version%>
            </td>
            <td>
                <%=data.description%>
            </td>
            <td>
                <%=data.name%>
            </td>
            <td>
                <%=details.homepage%>
            </td>
            <td>
                <input type="checkbox" id="chk1" data-version="<%=data.version%>" data-pname="<%=data.name%>" data-description="<%=data.description%>"
                    data-home="<%=details.homepage%>">
            </td>
        </tr>
    </table>
    <br>
    <br>
    </div>
    <input type="submit" value="Save to DB" id="btnSave">
    </form>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript"></script>
    <script>
        document.getElementById("btnSave").addEventListener("click", function () {
            const checks = Array.from(document.querySelectorAll('input[type="checkbox"]'))
                .filter((checkbox) => checkbox.checked)
                .map((checkbox) => checkbox.getAttribute('data-pname') + "+" + checkbox.getAttribute('data-version') + "+" + checkbox.getAttribute('data-description') + "+" + checkbox.getAttribute('data-home'));
            let results = [];
            for (let s of checks) {
                let tokens = [];
                tokens = s.split("+");
                let n = tokens[0];
                let v = tokens[1];
                let d = tokens[2];
                let h = tokens[3];
                results.push({
                    "name": n,
                    "version": v,
                    "description": d,
                    "homepage": h
                });
            }
            console.log(JSON.stringify(results, undefined, 2));
            $.ajax({
                type: 'POST',
                data: JSON.stringify(({ results })),
                contentType: 'application/json',
                url: '/save',
                success: function (data) {
                    // console.log('success');
                }
            });
        });
    </script>
</body>

</html>