<html>

<body>
    <h1>
        Package name:
        <%= details.name %>
    </h1>
    <form action="/save" method="POST">
        <p>
            <a href="/packs">NPM packages in database</a>
        </p>
        <p>
            <a href="/">Search NPM packages</a>
        </p>
        <table border="1" cellpadding="7" cellspacing="7" id="results">
            <tr>
                <th>Version</th>
                <th>Description</th>
                <th>_id</th>
                <th>Homepage</th>
                <th>Add to db</th>
            </tr>
            <% if(data.length){ 
        for(var i = 0;i < data.length;i++) { %>
                <tr>
                    <td>
                        <%=data[i].version%>
                    </td>
                    <td>
                        <%=data[i].description%>
                    </td>
                    <td>
                        <%=details.name%>
                    </td>
                    <td>
                        <%=data[i].homepage%>
                    </td>
                    <td>
                        <input type="checkbox" id="chk<%= i %>" data-version="<%=data[i].version%>" data-pname="<%=details.name%>" data-description="<%=data[i].description%>"
                            data-home="<%=data[i].homepage%>">
                    </td>
                </tr>
                <% }
      }else{ %>
                    <tr>
                        <td colspan="3 ">No results</td>
                    </tr>
                    <% } %>
        </table>
        <br>
        <br>
        </div>
        <input type="submit" value="Save to DB" id="btnSave">
    </form>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript"></script>
    <script>
        document.getElementById("btnSave").addEventListener("click", function () {
            const checks = Array.from(document.querySelectorAll('input[type="checkbox"]'))
                .filter((checkbox) => checkbox.checked)
                .map((checkbox) => checkbox.getAttribute('data-pname') + "+" + checkbox.getAttribute('data-version') + "+" + checkbox.getAttribute('data-description') + "+" + checkbox.getAttribute('data-home'));
            let results = [];
            for (let s of checks) {
                let tokens = [];
                tokens = s.split("+");
                let n = tokens[0];
                let v = tokens[1];
                let d = tokens[2];
                let h = tokens[3];
                results.push({
                    "name": n,
                    "version": v,
                    "description": d,
                    "homepage": h
                });
            }
            $.ajax({
                type: 'POST',
                data: JSON.stringify(({ results })),
                contentType: 'application/json',
                url: '/save',
                success: function (data) {
                    //  console.log('success');
                }
            });
        });
    </script>
</body>


</html>